<h1>Our cool app with Auth</h1>

<nav style="font-size: 2rem">
  <div>
    <a routerLink='login'>Login</a>
  </div>
  <div>
    <a routerLink='ensure-login'>Ensure login</a>
  </div>
  <div>
    <a routerLink='ensure-additional-access'>Ensure additional access</a>
  </div>
</nav>
<router-outlet></router-outlet>

<!--<app-todos></app-todos>-->

<!-- <app-language-picker></app-language-picker>
<app-translation-test></app-translation-test> -->
<!-- <app-counter></app-counter> -->
<!-- <app-counter-info></app-counter-info> -->
